.portfolio,
.portfolio__header {
    width: 100%;
}

.portfolio,
.portfolio__mobile {
    height: calc(100vh - 100px);
    color: var(--primary-color);
}

                    @media only screen and (min-width: 750px) {
                        .portfolio {
                        height: calc(100vh - (var(--navheight) + 40px));

                        color: var(--primary-color);
                        }
                    }

.portfolio__mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem 5rem 2rem;
    background-color: var(--secondary-color);
    border-radius: 30px 30px 0 0;
}

.portfolio__mobile-header h4 {
    font-weight: bold;
    color: #F2F2F2;
}

.portfolio__mobile-content {
    width: 100%;
    height: -webkit-fill-available;

    border-radius: 30px 30px 0 0;
    background-color: var(--white-color);
    transform: translateY(-3rem);
    padding: 2rem 2.5rem;
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
}

        

                    @media only screen and (min-height: 700px) {
                            .project {
                                grid-row-gap: 5rem;
                            }
                        } 
                       

.portfolio__mobile__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.portfolio__mobile__img img {
    width: 80%;
    object-fit: contain;
}

.portfolio__mobile-description {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

                        @media only screen and (max-height: 600px) {
                            .portfolio__mobile-description h3 {
                                font-size: 16px;
                                text-transform: uppercase;
                            }    
                        }

.portfolio__mobile-content .btn {
    margin: 0 auto;
    align-self: center;
    color: var(--white-color);
}

.project__id {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000; 
}

.project__id-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

.project__id-main {
    width: 100%;
    min-height: 70%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--white-color);
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
}


#endless-winter {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/EndlessWinterIdBackground.jpg');
}

#khanproject {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/KhanProjectIdBackground.jpg');
}

#kamchatka {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/KamchatkaIdBackground.jpg');
}

#unic {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/UnicIdBackground.jpg');
}

#crypto {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/CryptoIdBackground.jpg');
}

#reali {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/RealiIdBackground.jpg');
}

#trillo {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/TrilloIdBackground.jpg');
}

#todo {
    background-image: linear-gradient(to bottom, rgba(13, 37 ,60, .9), rgba(13, 37 ,60, .9)), url('./img/ToDoIdBackground.jpg');
}

.project__id-main-text {
    padding: 0rem 5rem 4rem 5rem;
}

.project__id-main-text-list {
    columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    list-style-position: inside;
    font-size: 16px;
    list-style-image: url('./img/checkmark-outline.svg');
}

                    @media only screen and (max-height: 580px) {
                        .project__id-main-text {
                            padding: 0 2rem;
                        }
                        

                        .project__id-main-text-list {
                            display: none;
                        }    
                    }
                    
    .project__id-bottom {
       flex-grow: 1;
       display: flex;
       justify-content: center;
       align-items: center;
    }

/*Animation classes*/

.fade-enter {
  opacity: 0;
  transform: translateY(-3rem);
  
}

.fade-enter.fade-enter-active {
  position: absolute;
  opacity: 1;
  transform: translateY(-3rem);
  transition: all .8s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  opacity: 0;
  transition: opacity .8s ease-in;
}

.fade-exit-done {
  opacity: 0;
}

.drop-enter { 
  transform: translateY(-1200px);
  /*top: -1200px;*/
}

.drop-enter.drop-enter-active {
  transform: translateY(0);
  transition: all .8s ease-in;
  /*transition: all 1s cubic-bezier(.26,1.34,.81,1.16);*/
}

.drop-exit {
    transform: translateY(0);
}

.drop-exit, .drop-exit-active {
    transform: translateY(2000px);
    /*top: 2000px;*/
    transition: all .8s ease-out;
}

/*Laptop Portfolio Styles*/

.portfolio__laptop {
    color: white;
}

.portfolio__laptop-title {
    display: grid;
    grid-template-columns: 1fr max-content 1fr; 
    grid-column-gap: 1.5rem;
    align-items: center; 
}

.portfolio__laptop-title::before,
.portfolio__laptop-title::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
}

                    @media only screen and (min-width: 1900px) {
                        .portfolio__laptop-title h4 {
                            font-size: 20px;
                        }
                    }

.portfolio__laptop-content {
    width: 100%;
    height: calc(100vh - (var(--navheight) + 40px + 22px));
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(400px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    grid-gap: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.portfolio__laptop-content::-webkit-scrollbar {
    background-color: var(--primary-color);
    transition: all 2s linear;
}

.portfolio__laptop-content::-webkit-scrollbar-track {
    margin: 0 3rem;
}

.portfolio__laptop-content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #1C3343;
    border: solid 3px transparent;
    border-radius: 20px;
}

.portfolio__laptop-content::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #386BED;
}

.portfolio__laptop-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s ease-out;
}

.portfolio__laptop-project img{
    height: 60%;
    object-fit: contain;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.portfolio__laptop-project:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project__id-laptop {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - (var(--navheight) + 40px));

    z-index: 10000;
    background-color: var(--primary-color);
    
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: .2fr 1fr .2fr;
    grid-gap: 2rem;
}  

.project__id-num {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-column-gap: 1.5rem;
    color: var(--white-color);
    align-items: center;
}

                    @media only screen and (min-width: 1500px) {
                        .project__id-num h1 {
                            font-size: 96px;
                        }
                    }

.project__id-num::before {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

                    @media only screen 
                        and (min-device-width : 768px) 
                        and (max-device-width : 1024px) 
                        and (orientation : portrait) {
                        .project__id-num h1 {
                            font-size: 48px;
                        }
                        .project__id-num {
                        grid-template-columns: 10% 20%; 
                        grid-column-gap: .5rem; 
                        }
                    }    

.project__id-laptop-content {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.project__id-laptop-content img {
    width: 60%;
    background-color: rgb(28, 51, 67);
    mix-blend-mode: luminosity;
    opacity: .5;
    transition: all .5s ease-out;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.project__id-laptop-content img:hover {
    opacity: 1;
    mix-blend-mode: initial;
}

.project__id-laptop-content-text {
    width: 40%;
    height: -webkit-fill-available;   
    text-align: right;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1111111111111;
}

                    @media only screen and (min-width: 1900px) {
                        .project__id-laptop-content-text p {
                        font-size: 18px;
                        }
                    }


.project__id-laptop-content-text span {
    font-weight: 800;
    text-transform: uppercase;
}

.project__id-laptop-content-text-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: left;
    font-size: 14px;
    list-style-position: inside;
    list-style-image: url('./img/checkmark-outline.svg');
}

.project__id-laptop-content-text-box {
    width: 160%;
    padding: 2rem 2rem;
    background-color: #1C3343;
    border-radius: 10px;
    /*float: right;*/
}

.project__id-laptop-button-back {
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    transition: all .5s ease-out;
}

.project__id-laptop-btn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 60px;
    margin-top: 0;
    justify-self: center;
    align-self: center;
}

.project__id-laptop-button-forward {
    grid-row: 3 / 4;
    grid-column: 3 / 4; 
    justify-self: center;
    align-self: center;
    transition: all .5s ease-out;
}

.project__id-laptop-button-forward:hover,
.project__id-laptop-button-back:hover {
    transform: scale(1.1);
}

                    @media only screen and (min-width: 600px) and (max-width: 1000px) {
                        .project__id-laptop-content {
                            grid-column: 2 / 4;
                            grid-row: 2 / 3;
                            flex-direction: column;
                        }
                        
                        .project__id-laptop-content img {
                            width: 90%;
                        }
                        
                        .project__id-laptop-content-text {
                            width: 100%;
                            transform: translateY(-20%);    
                        }
                        
                        .project__id-laptop-content-text-box {
                            width: 100%;
                        }
                    }
                    
                    @media only screen and (min-width: 1200px) {
                        
                        .project__id-laptop { 
                            grid-template-columns: .2fr 1fr .2fr;
                            grid-template-rows: .3fr 1fr .3fr;
                            grid-gap: 2rem;  
                        }
                        
                        .project__id-laptop-content {
                            grid-column: 2 / 3;
                            grid-row: 1 / 3;
                            padding: 4rem 0;
                        }
                        
                        .project__id-laptop-content-text {
                            padding-right: 0;
                        }
                        
                        .project__id-laptop-button-back {
                            align-self: start;
                        }

                        .project__id-laptop-btn {
                            align-self: start;
                        }                    

                        .project__id-laptop-button-forward {
                            align-self: start;
                        }
  
                    }
                    

                    @media only screen and (min-width: 1400px) {
                        
                     .project__id-laptop { 
                            grid-template-columns: .2fr 1fr .2fr;
                            grid-template-rows: .2fr 1fr .2fr;
                        }    
                    
                    .project__id-laptop-content {
                            grid-column: 2 / 3;
                            grid-row: 2 / 3;
                            padding: 0;
                        }    
                        
                    .project__id-laptop-content-text-box {
                            width: 130%;
                            padding: 5rem 3rem;
                        }
                    }
    





  